/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form {
    width: 100%;
    margin-top: 54px;
}
.btn-primary {
    background-color: #A230ED;
    padding: 10px;
}
.form-inline label {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 24px;
    font-size: 28px;
}
.form-inline .form-group {
    width: 100%;
}
.form-inline .form-control {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #BEC0C2;
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
}

/* animate hover placeholder */
input::-webkit-input-placeholder {
    -webkit-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

input:-moz-placeholder {
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

input::-moz-placeholder {
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

input:-ms-input-placeholder {
    -ms-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  padding-left: 20px;
}

input:hover:-moz-placeholder,
input:focus:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 20px;
}

input:hover::-moz-placeholder,
input:focus::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 20px;
}

input:hover:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  padding-left: 20px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    background-color: #A230ED;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    border-color: #6B00D7;
    background-color: #6B00D7;
}
.btn-primary:hover {
    border-color: #6B00D7;
    background-color: #6B00D7;  
}

.items-container {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 54px;
    border-bottom: 1px solid #BEC0C2;
}
.items-list {
    display: flex;
    flex-wrap: wrap;
}
.items-list li {
    width: 140px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: #D391FA;
    color: white;
    font-size: 24px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

li.active {
    opacity: 1;
    text-decoration: none;
}
li.done {
    opacity: .5;
    text-decoration: line-through;
}
.items-list li:hover {
    background-color: #A230ED;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}